#gravityforms-popup {
  background: white;
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 10000;
  padding: 5px 15px 15px;
  box-shadow: 0 0 10px #111;
  overflow-y: auto;
  display: none;
}
#gravityforms-popup .gform_wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
#gravityforms-popup.has-initial-image {
  padding: 0;
  bottom: auto;
}
#gravityforms-popup.has-initial-image .initial-image {
  display: block;
  line-height: 1;
  cursor: pointer;
}
#gravityforms-popup.has-initial-image .gform_wrapper {
  display: none;
}

#gravityforms-popup-modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 9995;
  display: none;
}

#gravityforms-popup-close {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  content: '';
  background: url(../images/close.png) no-repeat;
  width: 14px;
  height: 14px;
  text-indent: -999em;
  cursor: pointer;
}
#gravityforms-popup-close:hover {
  opacity: .8;
}
#gravityforms-popup-close:active {
  opacity: .6;
}

@media screen and (min-width: 500px) {
  #gravityforms-popup {
    width: 400px;
    top: 10%;
    right: auto;
    bottom: 10%;
    left: 50%;
    margin-left: -200px;
  }
}
